.tags-wrapper a:nth-of-type(1) .icon{
  background-image: url('https://p1.music.126.net/icULXvfqWJMFvcjTrXSLeA==/109951165406422565.jpg');
}
.tags-wrapper a:nth-of-type(2) .icon{
  background-image: url('https://p1.music.126.net/fWonYYR8sORR2mEKZfYqjQ==/109951165406418703.jpg');
}
.tags-wrapper a:nth-of-type(3) .icon{
  background-image: url('https://p2.music.126.net/pBodB8v8tbQxsoC1UCZfEw==/109951165406412456.jpg');
}
.tags-wrapper a:nth-of-type(4) .icon{
  background-image: url('https://p2.music.126.net/nEQJH0QRoLbcHho11tsQrw==/109951165406409464.jpg');
}
.tags-wrapper a:nth-of-type(5) .icon{
  background-image: url('https://p2.music.126.net/LIkzDiW_ktaSbk_s6MgMkg==/109951165406441809.jpg');
}
.tags-wrapper a:nth-of-type(6) .icon{
  background-image: url('https://p2.music.126.net/DzeP-S6FMZYzjwppwY3-Jw==/109951165406417278.jpg');
}
.tags-wrapper a:nth-of-type(7) .icon{
  background-image: url('https://p2.music.126.net/GqeTI3A_g4FFzm_4MoNSsQ==/109951165406411412.jpg');
}
.tags-wrapper a:nth-of-type(8) .icon{
  background-image: url('https://p3.music.126.net/3qyLawhgmTyHNabhuaKYTg==/109951165406422635.jpg');
}
.tags-wrapper a:nth-of-type(9) .icon{
  background-image: url('https://p4.music.126.net/RgtBB0IPWuzAK5KMKEFCgg==/109951165406425027.jpg');
}
.tags-wrapper a:nth-of-type(10) .icon{
  background-image: url('https://p3.music.126.net/VrBtcrNXRb6lIogyGLtfkQ==/109951165406414913.jpg');
}
.tags-wrapper a:nth-of-type(11) .icon{
  background-image: url('https://p3.music.126.net/CPvQ2tG9oV1FngMOYyyziA==/109951165406424089.jpg');
}
.tags-wrapper a:nth-of-type(12) .icon{
  background-image: url('https://p3.music.126.net/ULDTiR13aSOEzB3RBh7NdQ==/109951165406416867.jpg');
}
.tags-wrapper a:nth-of-type(13) .icon{
  background-image: url('../icon/radio_faq.png');
}
.tags-wrapper a:nth-of-type(14) .icon{
  background-image: url('../icon/radio_apply.png');
}